section {
  background-color: #FFFFFF;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2),
  0 2px 2px 0 rgba(0, 0, 0, .14),
  0 1px 5px 0 rgba(0, 0, 0, .12);
  padding-top: 20px;
  padding-bottom: 20px;
}

.add-form-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0 40px 40px 40px;
}

.add-form-container form {
  padding-left: 50px;
  padding-right: 50px;
}

.input-label {
  padding-bottom: 15px;
}

.team-field {
  width: 300px;
}

.cancel-button {
  margin-right: 10px;
}
